

.scroller-inner{
	width: 90vw;
	height: 90vh;
}



@media  screen and (min-width: 768px) {
	
.context{
	margin-top: 100px;
	height: auto;
	width: calc(100vw - 200px);
	/*border: 5px red solid;*/
	position: absolute;
	left: 100px;
	display: flex;
	flex-direction: row;
	/*border: 5px red solid;*/
	flex-wrap: wrap;
	
}

.context-item{
	box-sizing: border-box;
	margin: 5px;
	width: 300px;
	 color: #FFFFFF;
	 font-family: '微软雅黑',Impact,sans-serif;
	 letter-spacing: 0.02em;
	 
	 font-size: 2em;
	background-color: rgba(255,255,255,0.1);
	padding: 5px;
	height: 300px;
	
	
}

.context-item img{
	width: 290px;
	height: 190px
}

.classify{
	margin-top: 10px;
	width: calc(100vw-100px);
	
	/*border: 5px red solid;*/
	position: absolute;
	left: 100px;
	display: flex;
	flex-direction: row;
	
}

.classify-inner{
	margin: 5px;
	width: calc(100%-10px);
	 color: #FFFFFF;
	 font-family: '微软雅黑',Impact,sans-serif;
	 letter-spacing: 0.02em;
	 text-transform: uppercase;
	 text-align: center;
	 font-size: 2em;
	background-color: rgba(255,255,255,0.1);
	text-align: center;
	height: 50px;
	line-height: 50px;
	
}
}
