*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

::-webkit-scrollbar {display:none}
/* 背景 */

.background{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../img/homebackground.jpg);
}

a,a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

body{
    color: white;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    font-family: '微软雅黑';
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* 侧边栏 */
.side-bar{
    padding:80px 0 200px 0;
    height: 100vh;
    width: 300px;
    background-color: grey;
    display: flex;
    align-items: center;   
    flex-direction: column;
}

.side-bar .user-head{
    border-radius: 50%;
    height: 120px;
    width: 120px;

}

.side-bar-item{
    text-align: center;
    width: 100%;
    height: 50px;  
    line-height: 50px;  
    transition: all 1s;
    background: grey;
}

.side-bar-item:hover{
    
    background: rgb(204, 204, 204);
}


/* 右半侧 */
.right{
    width: 100%;
    height: auto;
}

/* 选项卡 */
.right .tab{
    position: absolute;
    z-index: 100;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}
.tab .tab-item{
    text-align: center;
    margin-right: 10px;
    line-height: 50px;
    width: 50px;
    font-size: 15px;
    display: block;
    position: relative;
    border-bottom:grey 1px solid; 
}


/* 下划线 */
.tab .tab-item .line{
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 0%;
    height: 1px;
    background:  linear-gradient(white 0%,grey 0%);
    transition: all 1s;
    
}
.tab .tab-item:hover .line{
    width: 100%;
    background: linear-gradient(white 100%,grey 100%);
}

/* 分类栏 */
.tab-item-inner{
    padding-top: 10px;
    width: 70px;
    height: 0px;
    overflow: hidden;
    transition: all 1s;
}

.tab .tab-item:hover .tab-item-inner{
    /* 根据分类数量修改 */
    height: 320px;
}

.tab-item-inner .inner-item{
    
    line-height: 30px;
    width: 80%;
    height: 30px;
    background: rgba(0, 0, 0, 0.959);
}


/* 主要内容 */
.main{
    padding: 40px;
    z-index: 99;
    position: absolute;
    top: 100px;
    width: 90%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.main-item{
    margin: 20px;
    background: rgba(0, 0, 0, .3);
    height:200px;
    width: 160px;
    padding: 5px;
}

.main-item img{
    width: 150px;
    height: 100px;
}

.mian-text{
    
    height: 50px;
    width: 20px;
    position: absolute;
    right: 13px;
    bottom: 100px;
}

