.container .stage, .container .stage .imgWrap {
    -webkit-transform-style: preserve-3d;
    height: 2000px
}

body {
    background-color: #efefef;
    font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial;
    min-width: 1280px
}

.container {
    width: 640px;
    margin: 0 auto;
    position: relative
}

.container .stage {
    width: 100%;
    position: relative;
    -webkit-perspective: 742px;
    -moz-perspective: 742px;
    perspective: 742px;
    transform-style: preserve-3d
}

.container .stage .control {
    transform: translateZ(350px) rotateY(50deg) rotateZ(0);
    transform-style: preserve-3d
}

.container .stage .imgWrap {
    position: absolute;
    width: 100vw;
    left: 50%;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.container .stage .imgWrap>div {
    background: rgba(172, 255, 47, 0.445);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  
}

.container .stage .img-bg1 {

    transform: rotateY(90deg) translateZ(543px)
}

.container .stage .img-bg2 {
    transform: rotateY(180deg) translateZ(543px)
}

.container .stage .img-bg3 {
    
    transform: rotateY(270deg) translateZ(543px)
}

.container .stage .img-bg4 {

    transform: rotateY(0deg) translateZ(543px)
}

/* @keyframes photoRotate {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0)
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg)
    }
} */