*{
	font-family: "微软雅黑";
	box-sizing: border-box;
}
.person-resume{
	min-height: 560px;
	display: flex;
}
h3{
	color: #188eee;

}
.resume-basic-info{
	position: relative;
	flex: 0 1 50%;
	min-height: 100vh;
	background: #188eee url('http://coding.imweb.io/img/project/resume/bg.png');
	background-size: 100px 100px;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	
}
.resume-work-info{
	flex: 0 1 50%;
	min-height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding-left: 30px;

}
.info-list{
	list-style: none;
}

.list-item span{
	position: relative;
	top: -8px;
}
.icon-mail2{
	box-sizing: content-box;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	background: #188eee url('img/mail.svg');
	background-size: 1.5em 1.5em;
	border: 1px solid white;
	border-radius: 50%;
}
.icon-phone{
	box-sizing: content-box;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	background: #188eee url('img/phone.svg');
	background-size: 1.5em 1.5em;
	border: 1px solid white;
	border-radius: 50%;
}
.icon-github{
	box-sizing: content-box;
	display: inline-block;
	height: 1.5em;
	width: 1.5em;
	background: #188eee url('img/github.svg');
	background-size: 1.5em 1.5em;
	border: 1px solid white;
	border-radius: 50%;
}
.basic-head{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.basic-bd>ul{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.basic-bd>ul>li{
	margin: 10px;
}

.head-portrait{
	display: block;
	background: white url('http://coding.imweb.io/img/project/resume/avatar.png ');
	background-size: 100px 100px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	
}

.ft-container{

	height: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;

}
.ft-container>span{
	display: inline-block;
	height: 30%;
	flex: 0 0 40%;
	line-height: 30px;
}



/* .resume-work-info h3::before,
.resume-work-info h3::after
{
display: inline-block;
content: '';
height: 1px;
width: calc(50% - 2em - 10px);
background-color: grey;
position: relative;
top: -5px;
margin:0 3px; 
} */
.work-record::before,
.work-tech::before
{
display: inline-block;
content: '';
height: 1px;
width: 100%;
background-color: grey;
position: relative;
top: 30px;
}
.resume-work-info h3{
	width: calc(4em + 10px);
	text-align: center;
	
	background-color: white;
	line-height: 100%;
	position: relative;
	left: 50%;
}
	

.record-list {
	padding: 0 10px 0 25px;
	position: relative;
}

.record-list::before {
	content: "";
	display: inline-block;
	transform: translate(-50%, 0);
	position: absolute;
	left: 12px;
	top: 3px;
	height: calc(100% - 10px);
	width: 1px;
	background: linear-gradient(to bottom, #cccccc, #cccccc 90%, #ffffff);

}

.record-item {
	position: relative;
	margin-bottom: 20px;
}
.record-item>p:nth-child(3){
color: grey;
}
.record-item>p:not(last-child){
font-size: 18px;
font-weight: bold;
}

.record-item>p{
	
}
.record-item::before {
	content: "";
	display: inline-block;
	position: absolute;
	transform: translate(-50%, -50%);
	left: -13px;
	top: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 3px solid rgba(204, 204, 255, 0.5);
	background: #0099ff content-box;
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
}
.record-item:hover::before {
    border: none;
    animation: blinkPoint 1s infinite;
    -webkit-animation: blinkPoint 1s infinite;
    -moz-animation: blinkPoint 1s infinite;
    -ms-animation: blinkPoint 1s infinite;
}

@keyframes blinkPoint {
    0%,
    50% {
        box-shadow: 0 0 10px 15px rgba(0, 0, 255, .3);
    }
}

.head-portrait{
	box-sizing: content-box;
	box-shadow: 0 0 10px rgba(0, 0, 255, 1);
}
.head-portrait:hover {
	border: none;
	animation: blinkPoint 1s infinite;
	-webkit-animation: blinkPoint 1s infinite;
	-moz-animation: blinkPoint 1s infinite;
	-ms-animation: blinkPoint 1s infinite;
}



.tech-item p:nth-child(2){
	font-size: 20px;
}
.tech-item {
	position: relative;
	margin: 0 10px;
}

.tech-item span {
	color: #999999;
	font-size: 0.714rem;
	position: absolute;
	right: 5px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 1px 5px;
}

.tech-item p:last-child {
	font-size: 0.857rem;
	color: #999999;
	margin: 5px 0 15px;
}

.tech-item p:last-child::after {
	content: "";
	display: block;
	width: 100%;
	height: 5px;
	border-radius: 3px;
	background: linear-gradient(to right, #cccccc, #cccccc);
	margin-top: 10px;
}

.tech-item::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0px;
	height: 5px;
	border-radius: 5px;
	background: linear-gradient(to right, #0066cc, #0099ff);
}

.tech-item:first-child::after {
	width: 80%;
}

.tech-item:nth-child(2)::after {
	width: 90%;
}

.tech-item:nth-child(3)::after {
	width: 80%;
}

.tech-item::after {
	animation: progressShow 1s ease-out 0.5s 1;
	-webkit-animation: progressShow 1s ease-out 0.5s 1;
	-moz-animation: progressShow 1s ease-out 0.5s 1;
	-ms-animation: progressShow 1s ease-out 0.5s 1;
}


#gamelink{
	
	color: black;

}
@keyframes progressShow {

	20% {width: 0px;}
}


a{
	text-decoration: none;
	color: white;
}


@media screen and (max-width: 768px){
	.person-resume{
		flex-direction: column;
	}
}